<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BTP.Properties.Settings>
            <setting name="Virgin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RapidLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RapidPoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AxisLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AxisIndicator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMachine" serializeAs="String">
                <value>BTPMachine</value>
            </setting>
            <setting name="SetupFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </BTP.Properties.Settings>
    </userSettings>
</configuration>